<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Autor nickname</strong>
        <small>11.11.2021</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam commodi debitis distinctio dolores earum esse ex in iste iure minima neque, odio omnis quas quasi quis soluta, tempora! Rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam commodi debitis distinctio dolores earum esse ex in iste iure minima neque, odio omnis quas quasi quis soluta, tempora! Rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam commodi debitis distinctio dolores earum esse ex in iste iure minima neque, odio omnis quas quasi quis soluta, tempora! Rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam commodi debitis distinctio dolores earum esse ex in iste iure minima neque, odio omnis quas quasi quis soluta, tempora! Rem.</p>

    </div>
</div>
